<nav class="navbar navbar-expand-lg navbar-dark  shadow-5-strong"   >
    <div class="container-fluid">
       <a class="navbar-brand" routerLink="/interfaceadmin" >Med.File</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="font-weight : bolder; font-size: large;">
        <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/interfaceadmin" style="padding: 20px; font-size:medium;color:white; font-weight : bolder;"> Home</a>
          </li>
        </ul>


         <div class="nav-item dropdown" style="margin-right: 7%;">
         <a  class="nav-link dropdown-toggle"   role="button" data-bs-toggle="dropdown" style="color: aliceblue; font-weight: bolder;"><img src="../../assets/img/user.png" > {{role}} </a>
         <div class="dropdown-menu" style="background-color: transparent; background: transparent;border-color: transparent;">
       <button  (click)="Logout()"   type="button" class="btn btn-primary" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
      </svg> Logout</button>
    
         </div>
          
         </div>
       
      </div>
    </div>

  </nav>