
  /* Sidebar */
  .sidebar {
    margin-top: 6%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 3px 10px rgba(3, 160, 212, 0.15);
    width: 240px;
    z-index: 600;
    
  }
  .image{
    width: 70%;
  }
  
  
  
