
  .images-container {
    display: flex;
    margin-top: -10%;
    align-items: center;
   
  }

  .image {
    width: calc(100% /5 - 10px);
    height: 85px;
    width: 100px;
    margin: 20px;
    margin-right: 50px; 
    margin-left: 30px;
   
  
    
  }
  .image{
    transition: all 0.3s;
}
.image:hover{
    transform: scale(1.15);
}
 
.input-group {
  width: 100%;
  max-width: 500px;
  margin-top: 3%;
  margin-left: 3%;
  box-shadow: 0 4px 15px  ;
      color: #4b4d4d;
}

.input-group-append button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.h1{
  margin-left: 3%;
  margin-top: 7%;
  font-family: 'Gill Sans' ;
  font-weight: bold;
  color: white;


}



