.table td {
    transition: transform 0.2s ease-in-out;
    transform: scale(1);
    
  }
  
  .table-hover td:hover {
    transform: scale(0.95);
  }
  .table{
    margin-left: 9%;
    margin-top: 2%;
    background-color: transparent;
    box-shadow: 0 15px 6px rgba(0, 0, 0, 0.1);
    background-color: skyblue;

   
  }
  tr{
  text-align: center;
  }
  .h1{
    margin-left: 10%;
    margin-top: 7%;
    font-family: 'Gill Sans' ;
    font-weight: bold;
    color: white;

  }
  
 
  .content {
    margin-left: 100px; /* Adjust this value to match the width of your sidebar */
    padding: 1rem;
    position: relative;
    z-index: 200; /* Adjust this value as needed */
  }
 