.h1{
    margin-left: 12%;
    margin-top: 6%;
    font-family: 'Gill Sans' ;
    font-weight: bold;
    color: white;

  }
  .table{
    margin-left: 50%;
 
  }
  td, th {
    text-align: left;
  }
  .bt{
    margin-left: 75%;
    margin-top: -2%;
  }
  .b1{
    margin-right: 2%;
  }

.p1{
  font-size:  50px;
  font-family: 'Gill Sans' ;
  font-weight: bold;
  padding: 10px;
   

}
.img-fluid {
  width: 95px;
  margin-left: 20%;
  margin-right: 2%; 
}
td{
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  
}
.content {
  margin-left: 250px; /* Adjust this value to match the width of your sidebar */
  padding: 1rem;
  position: relative;
  z-index: 200; /* Adjust this value as needed */
}