
       <app-navbar></app-navbar>
       <div class="container-fluid">
        <div class="row">>
          <div class="col-md-3 ">
      <app-navrv></app-navrv>
       </div>
       
                   <!--MOdal-->
    <div class="modal fade" id="ModalDelete" tabindex="-1"  aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"> Delete RDV</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-danger">
            Voulez-vous supprimer ce RDV ! 
          </div>
          <div class=" text-success modal-body  " >
            {{msg}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
            <button type="button" class="btn btn-danger" (click)="deleteById(idRdv)">Oui</button>
          </div>
        </div>
      </div>
    </div>
    <!--End Modal-->
       <div class="col-md-9 content">

       <h2  class="h1">Les Rendez-vous pour aujourd'hui</h2>
     
    

    <hr style="margin-left: 10%;">
    <div class="alert alert-warning d-flex align-items-center col-md-2" role="alert" *ngIf="rdvsAct.length==0"  style="margin-left: 10%;margin-top: 3%; ">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg> 
              <div style="margin-left: 3%;font-size: larger;"> Table est vide </div>
    </div>
    
    <div class="container">
      <div class="row">
     <div class="col-md-10 col-sm-8">
      <table class="table table-hover bg-white tab   "   *ngIf="rdvsAct.length>0"   >
        <thead>
          <tr>
 
            <th>Nom patient</th>
            <th>Prénom patient</th>
            <th>Contact</th>
            <th>Date</th>
            <th>Heure</th>
            <th *ngIf="roleUser=='secrétaire'">Action</th>
          </tr>
        </thead>
        <tbody>
   
          <tr *ngFor="let rd of rdvsAct  " >
            <td>{{rd.Nompatient}} </td>
            <td>{{rd.Prenompatient}}  </td>
            <td>{{rd.Contact}} </td>
            <td>{{rd.Date}}  </td>
            <td>{{rd.Heure}}  </td>
           <td  *ngIf="roleUser=='secrétaire'"  ><button type="button" routerLink="/modifierrv/{{rd.id}} " class="btn btn-primary "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>  </button> <button type="button"  style="margin-left: 1%;" (click)="idRdv=rd.id" data-bs-toggle="modal" data-bs-target="#ModalDelete"   class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg></button></td> 
          
       </tr>
        </tbody>
        
      </table>
     </div>
      </div>
    </div>
       </div>
      
      
      
      
    

      
      
      
      
   

