
<div class="bg-image" 
     style="background-image: url('../../../assets/img/bg2.jpg');
            height: 50vh ; background-size: cover;
       ">
       <app-navbar></app-navbar>
       <app-navpatient></app-navpatient>

<section class="vh-100 gradient-custom ">        
  <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
              <div class="card shadow-2-strong shadow-lg card-registration" style="border-radius: 15px; margin-top: -16%; ">
                  <div class="card-body p-4 p-md-5">
                 <div class="backIMg">
                 <div class="d-flex  flex-column text-primary ">
                 <h1 class=" col-sm-8  " style="margin-top: -3%;"  > Modifier Consultation</h1>
                 </div>
                 <h1 class="text-danger msg">{{msg}}</h1>
              
                 <form  method="post" #consultationform="ngForm" (ngSubmit)="ModifierConsultation(consultationform.value)" autocomplete="off">
                
                  <div class="form-group"  >
                    <label  class="form-label"><b>Date</b></label>
                    <input type="date" class="form-control" name="date" #date="ngModel"  ngModel="{{consultation.cons.date}}">
                    <div class="alert alert-danger" *ngIf="date.touched && !date.valid">Date est obligatoire</div>
                  </div>
                 <input type="hidden" name="id" ngModel="{{consultation.cons.id}}">
  <br>
  <div class="form-group">
    <label  class="form-label"><b>Consultation</b></label>
    <textarea class="form-control"   rows="10" name="consultation" #consulation="ngModel" placeholder="....." ngModel="{{consultation.cons.consultation}}">
      <div class="alert alert-danger" *ngIf="consultation.touched && !consultation.valid">Date est obligatoire</div>

    </textarea>
</div>
<br>
<div class="form-group" style="margin-left:35%;">
 <button type="submit"   class="btn btn-primary" style="margin-left: 10%;"  > Validé </button> 

</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
