
<div class="bg-image" 
     style="background-image: url('../../../assets/img/bg2.jpg');
            height: 60vh ; background-size: cover;">
       <app-navbar></app-navbar>
       <app-navpatient></app-navpatient>
       
       <div class="container">
            
   <h1 class="h1"> Les ordonnances </h1>
   <p class="p1"><img src="../../assets/img/patient1.png"   class="img-fluid  " >{{patient.nompatient}} {{patient.prenompatient}}</p>

   <!--MOdal-->
    
   <div class="modal fade" id="ModalDelete" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> Delete Ordonnance </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-danger">
          Voulez-vous supprimer cette Ordonnance ! 
        </div>
        <div class=" text-success modal-body  " >
          {{msg}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">non</button>
          <button type="button" class="btn btn-danger" (click)="Supprimer(id_Ordonance)">Oui</button>
        </div>
      </div>
    </div>
  </div>

  <!--End Modal-->
  
          <div class="row height d-flex justify-content-center align-items-center">

                 <div class="col-md-6 bt"  >
                   <button type="button" routerLink="/ajouterord/{{id}}" class="btn btn-success bt d "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard2-plus" viewBox="0 0 16 16">
                    <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
                    <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"/>
                    <path d="M8.5 6.5a.5.5 0 0 0-1 0V8H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V9H10a.5.5 0 0 0 0-1H8.5V6.5Z"/>
                  </svg> Ajouter</button>
                 </div>
               </div>
               <hr style="margin-left: 10%;">
               <h2 *ngIf="ordonances.length==0" style="margin-left: 10%;margin-top: 3%;" class="text-danger"> Table est vide ! </h2>

             <div class="col-md-9">
             <table class="table table-hover bg-white tab " *ngIf="ordonances.length>0">
               <thead>
                 <tr>
                   <th>Date</th>
                   <th>Catégorie</th>
                   <th>Prescription</th>
                  <th></th>
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let ord of ordonances">
                   <td>{{ord.date}} </td>
                   <td>{{ord.categorie}} </td>
                   <td><p>{{ord.prescription}}</p> </td>
                  
                 <div class="btn-group" data-toggle="buttons" >
                   <td  *ngIf="roleUser=='Médecin'" >
                    <a routerLink="/modifierord/{{id}}/{{ord.id}}" class="btn btn-primary   "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg> </a> </td>
                  <td  *ngIf="roleUser=='Médecin'" >
                  <button   type="button " click  style="margin-left: 5%;  ; "  (click)="detailOrdonance(ord.id)" data-bs-toggle="modal" data-bs-target="#ModalDelete"  class="btn btn-danger  "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/> 
                  </svg>  </button>
                   </td>
                    </div>
                 </tr>
               </tbody>
             </table>
             </div>
       </div>
</div>