
<app-nav></app-nav>
<div class="container">
    <h1 style="color: white;margin-top: 7%; font-family: 'Franklin Gothic Medium';"  > Med.File </h1></div>
           <div  style="margin-top:8%; margin-left: 40%; "> 
              <div class="container">
    
             <div class="row">
              <div class="col-md-4" >
                   <a routerLink="/consultercompte"class="text-decoration-none" >
                 
                     <div class="d-flex flex-column align-items-center">
           
                <img src="../../assets/img/gere.png"   class="img-fluid d "  alt=""  
                style="width: 150px; ">
                <p class="mt-2 text-center"> Comptes d'utilisateurs </p>
                     </div>
                  </a>
                     </div>
             </div>
              </div>
           </div>
           
           