
       <app-navbar></app-navbar>

<section class="vh-100  content ">

  <div class="container py-5 h-100">

      <div class="row justify-content-center align-items-center h-100 " style="margin-top: 2%;">

          <div class="col-12 col-lg-9 col-xl-7">

              <div class=" card shadow-2-strong shadow-lg  " style="border-radius: 15px;">

                  <div class="  p-4 p-md-5">
            
                <div class=" text-primary ">
                 <h1 class="" style="margin-top: -4%;"  >
                     Modifier ordonnance</h1>
                </div>
                <h1 class="text-danger msg ">{{msg}}</h1>
              
                <form method="post" #ordonnanceform="ngForm"  >
                 
                  <input type="hidden" name="id" ngModel="{{ordonance.ord.id}}"/>
                  
               <div class="form-group">
      <label   class="form-label"><b>Date</b></label>
      <input type="date" name="date" class="form-control" ngModel="{{ordonance.ord.date}}" required="required" >
    </div>
  <br>
  <div class="form-group">
    <b> Catégorie</b>
    <select class="form-select"  name="categorie" required ngModel="{{ordonance.ord.categorie}}" >
        <option  >Pharmacie</option>
        <option  > Biologie</option>
        <option  >Radiologie</option>
      </select>
  </div>
  <div class="form-group">
    <label  class="form-label"><b>Prescription</b></label>
    <textarea class="form-control"  name="prescription" rows="5" placeholder="....." ngModel="{{ordonance.ord.prescription}}" required></textarea>
</div>
<br>
<div class="form-group" style="margin-left:40%;">
    <button type="submit" class="btn btn-primary col-lg-3  " data-bs-toggle="modal" data-bs-target="#ModalUpdate" (click)="ModifierOrdonance(ordonnanceform.value)"> Validé </button> 
</div>
 </form>


</div>
    </div>
          </div>
      </div>
  </div>

</section>




